.container {
  height: 100vh;
}

.sidenav {
  width: 250px;

  .logo {
    font-size: 18px;
    font-weight: 600;
  }
}

.top-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  .title {
    margin-left: 10px;
    font-weight: 500;
  }
}

.content {
  padding: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.active-link {
  background-color: rgba(0, 0, 0, 0.05);
}
