.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f7f5;
}

.login-card {
  width: 350px;
  padding: 30px;
  border-radius: 16px;
  text-align: center;
}

.full-width {
  width: 100%;
  margin-bottom: 20px;
}
