<div class="login-container">

  <mat-card class="login-card">

    <h2>Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>

      <button mat-raised-button
              color="primary"
              class="full-width"
              type="submit">
        Login
      </button>

    </form>

  </mat-card>

</div>
