@use '@angular/material' as mat;

// Include core styles
@include mat.core();

// Define color palettes
$primary: mat.m2-define-palette(mat.$m2-green-palette, 700);
$accent: mat.m2-define-palette(mat.$m2-brown-palette, 500);
$warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create theme
$theme: mat.m2-define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  )
));

// Apply theme
@include mat.all-component-themes($theme);
