<h2 mat-dialog-title>
  {{ data ? 'Edit User' : 'Add User' }}
</h2>

<form [formGroup]="userForm" mat-dialog-content>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Role</mat-label>
    <mat-select formControlName="role">
      <mat-option value="Admin">Admin</mat-option>
      <mat-option value="Manager">Manager</mat-option>
      <mat-option value="Technician">Technician</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status">
      <mat-option value="Active">Active</mat-option>
      <mat-option value="Inactive">Inactive</mat-option>
    </mat-select>
  </mat-form-field>

</form>

<div mat-dialog-actions class="actions">
  <button mat-button (click)="close()">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()">
    Save
  </button>
</div>
